@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");

@media screen and (max-width: 500px) {
  #root,
  #root p {
    font-size: 10pt;
  }
  #root h1 {
    font-size: 16pt;
  }
  #root h2 {
    font-size: 15pt;
  }
  #root h3 {
    font-size: 14pt;
  }
  #root h4 {
    font-size: 13pt;
  }
  #root h5 {
    font-size: 12pt;
  }
  #root h6 {
    font-size: 11pt;
  }
}

#root {
  color: black;
  background-color: white;
  font-family: "Lexend Deca";
  min-width: 320px;
}

#root,
#mainContainer {
  min-height: 100vh;
}

.ml-a {
  margin-left: auto;
}

.mr-a {
  margin-right: auto;
}

.mx-a {
  margin-left: auto;
  margin-right: auto;
}

#root .disabled {
  cursor: default;
  color: gray;
  text-decoration-line: line-through;
}

.clickable:hover {
  cursor: pointer;
  background: whitesmoke;
}

#root .disabled:hover {
  cursor: default;
  color: gray;
  text-decoration-line: line-through;
}

#root a {
  transition: 0.5s;
  text-decoration: none;
  color: white;
}

#root a:hover {
  color: black;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

#root a.navbar-brand:hover {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

#spinner {
  border: 2px solid lightgray;
  border-top-color: white;
  width: 17.5vh;
  height: 17.5vh;
  border-radius: 50%;
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
