@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");

#root {
  font-family: "Lexend Deca";
  color: black;
  background-color: white;
}

#root, #mainContainer{
  min-height: 100vh;
}

.no-style-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ml-a {
  margin-left: auto;
}

.mr-a {
  margin-right: auto;
}

.mx-a {
  margin-left: auto;
  margin-right: auto;
}

#root .disabled {
  cursor: default;
  color: gray;
  text-decoration-line: line-through;
}

.clickable:hover {
  cursor: pointer;
  background: whitesmoke;
}

#root .disabled:hover {
  cursor: default;
  color: gray;
  text-decoration-line: line-through;
}

#root a {
  transition: 0.5s;
  text-decoration: none;
  color: white;
}

#root a:hover {
  color: black;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}

#root a.navbar-brand:hover {
  color: black !important; /*WARNING! IMPORTANT. FIX IN THE NEAR FUTURE IF POSSIBLE*/
  animation-name: bounce;
  -moz-animation-name: bounce;
}
