#root {
  font-family: "Lexend Deca", sans-serif;
  color: black;
}
.no-style-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ml-a {
  margin-left: auto;
}

.mr-a {
  margin-right: auto;
}

.mx-a {
  margin-left: auto;
  margin-right: auto;
}

.clickable:hover {
  cursor: pointer;
  background: whitesmoke;
}

#root .disabled {
  cursor: default;
  color: gray;
  text-decoration-line: line-through;
}

#root .disabled:hover {
  cursor: default;
  color: gray;
  text-decoration-line: line-through;
}

#root a{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  text-decoration: none;
}

#root a:hover{
  color:black;
}
#root a.navbar-brand:hover{
  color:black !important;/*WARNING! IMPORTANT. FIX IN THE NEAR FUTURE IF POSSIBLE*/
}


